{% extends 'layout.html' %}

{% block content %}
    <div class="m-auto my-3">
        <a href="/elderly/register/" class="btn btn-outline-success fs-5 w-100 py-4">+ เพิ่มคนไข้</a>
        <form action="elderinfo/" method="post">
            {% csrf_token %}
                <div class="row row-cols-1 row-cols-md-3 g-4 mt-0">
                    {% for q in elders %}
                        <div class="col">
                            <div class="card text-center">
                                <img src="{{q.image.url}}" class="card-img-top" alt="" width="400px" height="300px">
                                <div class="card-body">
                                    <div>
                                        <!-- <input class="card-title btn btn-lg w-100 form-control" type="submit" name="elder_name" value="{{q.first_name}} {{q.sure_name}}">
                                        <input class="form-control" type="hidden" name="elder_id" value="{{q.id}}, {{q.first_name}}"> -->
                                        <button type="submit" class="card-title btn w-100 fs-5" name="elder_id" value="{{q.id}}">{{q.first_name}} {{q.sure_name}}</button>
                                        <p class="card-text">
                                            <small class="text-muted">{{q.relative_phone}} (คุณ {{q.relative_firstname}})</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </form>
    </div>

{% endblock %}
