{% extends 'layout.html' %}

{% block content %}
    <form action="/login/reset/" method="post">
        {% csrf_token %}
        <div class="card w-75 m-auto mt-5 shadow rounded-4">
            <div class="modal-body mx-4">
                <h2 class="text-center m-3 mb-3">Reset Password</h2>
                <div class="mb-3">
                    <label for="" class="form-label">อีเมล</label>
                    <input type="email" class="form-control" placeholder="Example@email.com" name="email_addr" value="">
                </div>
                <!-- <div class="mb-3">
                    <label for="" class="form-label">รหัสผ่านใหม่</label>
                    <input type="password" class="form-control" value="">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">ยืนยันรหัสผ่าน</label>
                    <input type="password" class="form-control" value="">
                </div> -->
                <div class="mb-3">
                    <input type="submit" value="ตั้งค่ารหัสผ่าน" class="btn btn-danger w-100">
                </div>
            </div>
        </div>
    </form>
{% endblock %}
